:root {
  --cyan: #3bb4a1;
  --light-grey: #6d6e70;
  --grey: #2d2d2d;
  --yellow: #fbf1a4;
  --dark-cyan: #013e38;
  --red: #f56664;
  --basefont: "Oswald", sans-serif;
  --secfont: "Montserrat", sans-serif;
}

h3 {
  font-family: var(--secfont);
	margin: 10px 0;
}

h6 {
  font-family: var(--secfont);
  font-size: 1rem !important;
	margin: 5px 0;
	text-transform: uppercase;
}
 
p {
  font-family: var(--secfont);
	font-size: 14px;
	line-height: 21px;
}

.card-container {
  font-family: var(--secfont);
	background-color: #00000050;
	border-radius: 25px;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
	color: #B3B8CD;
	padding: 30px 0 0;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
	margin: 3rem;
	overflow: hidden;
}

.card-container img {
	border: 1px solid #fbf1a4;
	border-radius: 50%;
	padding: 7px;
	height: 150px;
	width: 150px;
}

.prof-buttons
{
  display: flex;
  justify-content: space-around;
}
button.primary {
	background-color: #3bb4a1;
	border: 1px solid #3bb4a1;
	border-radius: 3px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #3bb4a1;
}

.profskills {
	background-color: rgba(48, 88, 100, 0.284);
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.profskill-boxes
{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.profskill-box {
  text-align: center;
  background-color: #809c5c;
  color: white;
  margin-right: 1rem;
  border-radius: 5px;
  min-width: 4rem;
}

