@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital@0;1&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #2d2d2d;
}

:root {
  --cyan: #3bb4a1;
  --light-grey: #6d6e70;
  --grey: #2d2d2d;
  --yellow: #fbf1a4;
  --dark-cyan: #013e38;
  --red: #f56664;
  --basefont: "Oswald", sans-serif;
  --secfont: "Montserrat", sans-serif;
}

body {
  font-family: var(--basefont);
  background-color: var(--grey);
  color: white;
  text-align: center;
}
::-webkit-scrollbar-track {
  border: 5px solid #00211e;
  background-color: #00211e;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #00211e;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cyan);
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}
