.register_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 91vh;
}

.register_section {
  min-height: 80vh;
  width: 50%;
  border: 1px solid cyan;
  border-radius: 10px;
}

/* write media query for max-width medium screen */
@media (max-width: 768px) {
  .register_section {
    width: 80%;
  }
}
