.register_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 91vh;
}

.register_section {
  min-height: 80vh;
  width: 50%;
  border: 1px solid cyan;
  border-radius: 10px;
}

/* write media query for max-width medium screen */
@media (max-width: 768px) {
  .register_section {
    width: 80%;
  }
}
/* Register.css */
.previewContainer {
  font-family: 'Montserrat', sans-serif;
  color: #2d2d2d;
  margin-bottom: 20px;
}

.previewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.previewLabel {
  flex: 1;
  font-weight: bold;
  color: #3BB4A1;
}

.previewValue {
  flex: 2;
  margin-left: 20px;
}
